<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="icon" href="favicon.png">
  <script async defer src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
  <title>Personal Web</title>
</head>
<body>
  <nav class="sticky bg-white top-0 flex justify-between items-center px-6 sm:px-10 md:px-14 lg:px-32 py-7">
    <div class="text-lg md:text-xl xl:text-2xl font-bold text-blue-600 hover:text-purple-700">
      <a href="/">My Logo</a>
    </div>
    <div class="md:block hidden items-center text-lg text-gray-600">
      <a href="/" class="transition ease-in-out duration-500 px-6 font-medium py-2 hover:bg-blue-50 hover:text-blue-700 rounded-lg">Home</a>
      <a href="#/project" class="transition ease-in-out duration-500 px-6 font-medium py-2 hover:bg-blue-50 hover:text-blue-700 rounded-lg">Project</a>
      <a href="#/galery" class="transition ease-in-out duration-500 px-6 font-medium py-2 hover:bg-blue-50 hover:text-blue-700 rounded-lg">Galery</a>
    </div>
    <div class="md:hidden">
      <button name="button navbar" id="hamburgerButton">
        <span class="iconify text-3xl" data-icon="system-uicons:menu-hamburger"></span>
      </button>
    </div>

    <!-- Sidebar -->
    <div id="navigationDrawer" class="md:hidden hidden absolute z-50 top-0 bg-white right-0 w-2/3 sm:w-1/2 shadow min-h-screen">
      <button id="closeNavbar" class="absolute top-6 right-8" name="button close sidebar menu">
        <span class="iconify text-2xl text-gray-600" data-icon="akar-icons:circle-x"></span>
      </button>
  
      <div class="mt-20 flex flex-col">
        <a href="/" class="transition ease-in-out duration-500 hover:bg-blue-100 hover:text-blue-700 font-medium py-3 px-5 mx-6 rounded-full bg-gray-100 mt-3">Home</a>
        <a href="#/project" class="transition ease-in-out duration-500 hover:bg-blue-100 hover:text-blue-700 font-medium py-3 px-5 mx-6 rounded-full bg-gray-100 mt-3">Project</a>
        <a href="#/galery" class="transition ease-in-out duration-500 hover:bg-blue-100 hover:text-blue-700 font-medium py-3 px-5 mx-6 rounded-full bg-gray-100 mt-3">Galery</a>
      </div>
    </div>
    <!-- Sidebar -->
  </nav>
  
  <main id="mainContent" class="px-6 sm:px-10 md:px-14 lg:px-32"></main>
</body>
</html>


<!-- <div class="
  absolute 
  flex justify-between 
  inset-x-0 w-full 
  h-screen px-6 
  lg:px-20
  text-gray-500 bg-blue-200 z-0"
>
  <button name="button back">
    <a href="#/galery" >
      <span class="
        iconify text-4xl hover:text-gray-600" 
        data-icon="bx:bxs-left-arrow-circle"
      ></span>
    </a>
  </button>
  <button name="button next">
    <a href="#/project">
      <span class="
        iconify text-4xl hover:text-gray-600" 
        data-icon="bx:bxs-right-arrow-circle"
      ></span>
    </a>
  </button>
</div> -->